<div class="page">
    <button mat-button (click)="back()">← Back</button>

    <div class="error" *ngIf="errorMessage">
        {{ errorMessage }}
    </div>

    <mat-card *ngIf="product" class="detail-card">
        <mat-card-title>{{ productName }}</mat-card-title>

        <mat-card-content>
            <div class="product-layout">
                <div class="image-box">
                    <mat-icon>inventory_2</mat-icon>
                </div>

                <div class="info">
                    <div class="price">
                        {{ product.retailPrice | currency }}
                    </div>

                    <p class="desc">
                        {{ product.description }}
                    </p>

                    <div class="actions">
                        <button mat-raised-button color="primary" (click)="addToCart()" *ngIf="!auth.isAdmin()">
                            <mat-icon>shopping_cart</mat-icon>
                            Add to Cart
                        </button>

                        <button mat-stroked-button color="accent" (click)="addToWatchlist()"
                            *ngIf="auth.isLoggedIn() && !auth.isAdmin()">
                            + Watchlist
                        </button>
                    </div>

                    <div class="success" *ngIf="addedToCart">Added to cart</div>
                    <div class="success" *ngIf="addedToWatchlist">Added to watchlist</div>

                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>
