.form-card {
  padding: 16px;
  margin-bottom: 24px;
}

.product-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  mat-form-field:nth-child(2) {
    grid-column: span 2;
  }
}

.form-actions {
  grid-column: span 2;
  display: flex;
  gap: 12px;
}

@media (max-width: 800px) {
  .product-form {
    grid-template-columns: 1fr;

    mat-form-field:nth-child(2) {
      grid-column: span 1;
    }
  }

  .form-actions {
    grid-column: span 1;
  }
}
